* {
  box-sizing: border-box;
  min-width: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}
